---
interface Props {
	title: string;
	img: string;
	about: string;
	stacks: Array<string>;
	website: string;
	github: string;
}

const { title, img, about, stacks, website, github } = Astro.props;
---

<div class="col-12 col-sm-4">
	<div class="project-card shadow">
		<img class="img-project" src={img}>
		<div class="project-gradient"></div>
		
		<div class="project-detail">
			<h4 class="title-project text-white">{title}</h4>
			<div class="d-flex flex-wrap">
				{stacks.map((s) => (
					<div>
						<span class="stacks">{s}</span>
					</div>
				))}
			</div>
		</div>

		<!-- Data Detail -->
		<div class="container-data d-none">
			<p class="about-data">{about}</p>
			<p class="stacks-data">{stacks.map((s) => (
				<span class="d-block mb-1">{s}</span>
			))}</p>
			<p class="website-data">{website}</p>
			<p class="github-data">{github}</p>
		</div>

	</div>
</div>


<style>
	.project-card{
		border-radius: 12px;
		padding-top: 60%;
		margin-bottom: 28px;
		position: relative;
		cursor: pointer;
	}
	@media (max-width: 668px) {
    	.project-card {
      		margin-bottom: 16px;
		} 

	  	.project-detail{
			opacity: 1 !important;
			transform: translateY(0%) !important;
		}
		.project-gradient{
			background: linear-gradient(rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.78) 80%);
			opacity: 0.6;
		}
	}

	.project-gradient{
		border-radius: 12px;
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0px;
		top: 0px;
	}
	.project-gradient:hover{
		background: linear-gradient(rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.78) 80%);
		opacity: 0.6;
	}
	.project-detail{
		padding: 20px;
		position: absolute;
		bottom: 0px;
		left: 0px;
		pointer-events: none;
		opacity: 0;
		transform: translateY(10%);
		transition: opacity 300ms ease-in-out 0s, transform 300ms ease-in-out 0s;
	}
	.stacks{
		background: rgb(105, 104, 105);
		padding: 4px 10px;
		border-radius: 50px;
		text-transform: capitalize;
		font-size: 11px;
		margin-right: 6px;
		color: rgb(255, 255, 255);
		font-weight: 500;
	}
	.img-project{
		position: absolute;
		object-fit: cover;
		width: 100% !important;
		height: 100% !important;
		left: 0px;
		top: 0px;
		border-radius: 12px;
	}
</style>
